<!DOCTYPE html>
<html>
<head>
  <title>Cloud MES Modeler</title>
  <%= stylesheet_link_tag    "mes/modeler/application", media: "all" %>
  <%= javascript_include_tag "mes/modeler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
